/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
#pos_menu_show {
    padding: 1.1rem 0.8rem 1rem 1rem;
}

#pos_menu_show i{
    font-size: 1.6rem;
}
.logo {
	width: 107px;
	height: 48px;
}

.menu-expanded .navbar-nav {
    display: flex;
    justify-content: center;
}

.ma-0{
    margin: 0px !important;
}
.order-type{
    border: 1px solid #aaa;
}

/* .order-type:active,
.order-type:hover,
.order-type:focus {
    background: #404e67;
    color: #fff;
} */
input[type="radio"]:checked + label span {
    background: #404e67;
    color: #fff;
}
.menu-collapsed .logo {
    width: 42px;
    height: 32px;
}

.fav {
    width: 32px;
    height: 32px;
}

#order_table thead th,
#order_table tbody td {
	/* text-align: center; */
	vertical-align: middle;
}
.thead-bordered th{
    border: 1px solid #aaa;
    padding: 10px;
}

.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

.phone {
	-moz-appearance: textfield !important;
}

.select {
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 0px 1.5em;
	background-repeat: no-repeat;
}

.select:focus {
	background-image:
		linear-gradient(45deg, green 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, green 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 15px) 1em,
		calc(100% - 20px) 1em,
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		0px 1.5em;
	background-repeat: no-repeat;
	border-color: #000;
	outline: 0;
}

.pos-left-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px !important;
}
#order_table td {
    padding: 0.15rem 2rem !important;
}
#order_footer td {
    padding: 0.05rem 2rem !important;
}
#order_footer td  input{
    width: 40%;
}
.pos-cart-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px !important;
}
.pos-scroll-item{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.food-item-img{
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.pos-section{
    height: 890px;
}

.pos-btn-active {
    background: #00b5b8 !important;
    color: #fff !important;
}
.qty-change-css {
   width: 150px !important;
   height: 30px !important;
}
