/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

body{
    font-size: 11px !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: 1.1;
}
.main-card{
    flex-grow: 1 !important;
    /*height: calc(100vh - 60px) !important;*/
}
p{
    margin-bottom: 0 !important;
}
.btn{
    font-size: 11px !important;
    padding: 5px 3px !important;
}
input{
    font-size: 10px !important;
    padding: 3px !important;
}
.item_card {
    padding: 5px !important;
}
.main-left-p1{
    padding-left: 15px !important;
}
.item-table{
    padding: 10px !important;
}
.main-pl0{
    padding-left: 0 !important;
}
#order_table td .input-group, #order_table td .input-group .input-group-btn{
    min-width: 0 !important;
}
.form-control{
    height: 2rem !important;
    font-size: 11px !important;
}
.select2-container--classic .select2-selection--single {
    height: 25px !important;
    padding: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 0 !important;
}

/*.order:focus {*/
/*    background-color: ghostwhite;*/
/*}*/
.modal-xl{
    max-width: 100% !important;
}
#pos_menu_show {
    padding: 1.1rem 0.8rem 1rem 1rem;
}

#pos_menu_show i{
    font-size: 1.6rem;
}
.logo {
    width: 107px;
    height: 48px;
}
.ppx-5{
    margin: 0px 5px;
}

.menu-expanded .navbar-nav {
    display: flex;
    justify-content: center;
}
.overflow-x-hidden{
    overflow-x: hidden;;
}
.ma-0{
    margin: 0px !important;
}
.order-type{
    border: 1px solid #aaa;
}

input[type="radio"]:checked + label span {
    background: #404e67;
    color: #fff;
}
.menu-collapsed .logo {
    width: 42px;
    height: 32px;
}

.fav {
    width: 32px;
    height: 32px;
}

#order_table thead th,
#order_table tbody td {
    /* text-align: center; */
    vertical-align: middle;
}
.thead-bordered th{
    border: 1px solid #aaa;
    padding: 10px;
}

.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.phone {
    -moz-appearance: textfield !important;
}

.select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 0px 1.5em;
    background-repeat: no-repeat;
}

.select:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        0px 1.5em;
    background-repeat: no-repeat;
    border-color: #000;
    outline: 0;
}

.pos-left-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 196px) !important;
    scrollbar-width: thin;
    scrollbar-color: #aaa #fff;
}
#order_table td {
    padding: 0.15rem !important;
}
.vertical-btn-tab{
    margin-bottom: 5px !important;
}
#order_table td .input-group,
#order_table td .input-group .input-group-btn{
    height: 28px !important;
    z-index: 0;
}
.py-10{
    padding: 10px !important;
}
#order_table td .input-group .input-group-btn .btn{
    padding: 0px 7px !important;
}
#order_table td .input-group input{
    height: 30px;
    padding: 0px;
}

#order_footer td {
    padding: 0.05rem 2rem !important;
}
#order_footer td  input{
    width: 40%;
}
.pos-cart-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px !important;
}
.pos-scroll-item{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 68px) !important;
}
.food-item-img{
    height: 80px;
    width: 100%;
    /*object-fit: cover;*/
}

.pos-section{
    height: 890px;
}

.pos-btn-active {
    background: #00b5b8 !important;
    color: #fff !important;
}
.qty-change-css {
    width: 150px !important;
    height: 30px !important;
}
.pt-5{
    padding-top: 5px!important;
}
.mmt-5{
    margin-top: 5px !important;
}
.tableWrap {
    height: calc(100vh - 248px) !important;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #fff;
}

#order_table thead tr th {
    position: sticky;
    top: 0;
}
#order_table table {
    border-collapse: collapse;
}

#order_table th {
    padding: 10px;
    padding-left: 15px;
    border-left: 1px dotted rgba(200, 209, 224, 0.6);
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    background-color: #00B5B8;
    box-shadow: 0px 0px 0 2px #e8e8e8;
    color: white;
}
.btn:disabled{
    cursor: not-allowed !important;
}
.order{
    line-height: 1rem;
    margin-bottom: 2px;
}
.pos-menu-div{
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #fff;
}

.pos-menu-div::-webkit-scrollbar,
.pos-left-items::-webkit-scrollbar,
.tableWrap::-webkit-scrollbar {
    width: 4px;
}

.pos-menu-div::-webkit-scrollbar-thumb,
.pos-left-items::-webkit-scrollbar-thumb,
.tableWrap::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
}

.select2{
    width: 100% !important;
}


@media screen and (max-width: 1024px) {
    .food-item-img{
        height: 50px;

    }
}
