/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.table thead th,
.table tbody td {
	text-align: center;
	vertical-align: middle;
}

.select2-container {
	width: 100% !important;
}

.logo {
	width: 107px;
	height: 48px;
}

.menu-collapsed .logo {
    width: 42px;
    height: 32px;
}

.fav {
    width: 32px;
    height: 32px;
}

td .input-group {
	min-width: 200px !important;
}

.notice {
	border: 2px solid #ff7588;
	padding: 10px 15px;
}

.notice2 {
	border: 2px solid #38d1ff;
	padding: 10px 15px;
}

.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

.phone {
	-moz-appearance: textfield !important;
}

.select {
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 0px 1.5em;
	background-repeat: no-repeat;
}

.select:focus {
	background-image:
		linear-gradient(45deg, green 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, green 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 15px) 1em,
		calc(100% - 20px) 1em,
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		0px 1.5em;
	background-repeat: no-repeat;
	border-color: #000;
	outline: 0;
}

.pos-left-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px !important;
}
.pos-scroll-item{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.food-item-img{
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.pos-section{
    height: 890px;
}
